/* Bootstrap Overrides */

/* Kanbas Navigation */
.wd-kanbas-navigation {
    width: 85px;
    padding-left: 0px; 
    padding-top: 0px;
}

.wd-kanbas-navigation .list-group-item {
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius:0;
    margin-bottom: none;
}


.wd-kanbas-navigation .list-group-item.active {
    color: red;
    background-color: white;
    border-color: white;
}

.text {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-size: 13px;
    text-align: center;
}

.icon-active {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-size: 2em; 
    color: lightgray; 
    text-align: center;
}

.icon {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-size: 1.5em; 
    color: red; 
    text-align: center;
}

.neu-icon {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 3.5em; 
    color: red; 
    text-align: center;
}


/* Account Navigation */
.wd-account-navigation .list-group {
    text-align: left;
}

.wd-account-navigation .list-group-item {
    width: 200px;
    color: red;
    background-color: var(--bs-list-group-bg);
    border: none;
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.wd-account-navigation .list-group-item.active {
    color: black;
    background-color: white;
    border-color: white;
    border-left: 2px solid black;
}

/* Courses Navigation */
.wd-courses-navigation .list-group {
    text-align: left;
    border-radius:0;
    
}

.wd-courses-navigation .list-group-item {
    width: 200px;
    color: red;
    background-color: var(--bs-list-group-bg);
    border: none;
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius:0;
    font-size: 15px;
}

.wd-courses-navigation .list-group-item.active {
    color: black;
    background-color: white;
    border-color: white;
    border-left: 2px solid black;
}

